body{
    background-color: rgb(89, 201, 177);
}
h1{
    color: rgb(89, 201, 177);
    background-color: bisque;
    text-align: center;
    font-size: 10em;
}
h3{
    color: bisque;
}
h2{
    text-align: center;
}
